 .navbar ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 .navbar li {
     float: left;
 }

 .navbar a {
     text-decoration: none;
     font-weight: bold;
     display: block;
     padding: 8px;
     background-color: white;
     color: #000;
 }

 .navbar a:hover {
     background-color: #f1f1f1;
 }

 .navbar {
     background-color: white;
     padding-right: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     overflow: hidden;
     display: flex;
     direction: column;
     align-content: center;
     justify-content: right;
     list-style-type: none;
 }

 .button-biru {
     background-color: #3498db;
     color: white;
 }

 .button-biru:hover {
     background-color: #2980b9;
 }

 .profile {
     background-color: white;
     margin: 30px;
     padding: 20px;
     border-radius: 10px;
     display: flex;
     gap: 30px;
     align-items: center;
 }

 .profile-ingpo-label {
     display: flex;
     flex-direction: column;
     justify-content: left;
     align-items: start;
     padding: 5px;
 }

 .profile-ingpo-fr-fr {
     display: flex;
     flex-direction: column;
     justify-content: left;
     align-items: start;

 }

 button {
     border-radius: 5px;
     padding: 10px;
     box-shadow: none;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     border: none;
     background-color: white;
     outline-color: #2980b9;
     outline: 1px solid #2980b9;
 }

 button:hover {
     background-color: #f1f1f1;
 }

 img {
     width: 200px;
     height: 200px;
     display: inline;
 }

 body {
     font-family: Arial, sans-serif;
     background-color: #ecf0f1;
     margin: 0;
     padding: 0;
 }